#card-list{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 5%;
    gap: 5%;
}
#card-container{
    width: 100%;
    border-radius: 20px;
    background-color: #1E1E1E;
    border: 1px solid black;
}
#card-container img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
#portada{
    width: 100%;
    height: 200px;
}
#card-body{
    height: 30vh;
    color: #fff ;
    padding: 20px;
}
#card-body h3{
    color: #fff;
    margin-bottom: 2%;
}
#card-body p{
    font-size: 14px;
    height: 60%;
}
#card-body img{
    width: 38px;
}
#btn-container{
    width: 50%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;    
}
#card-footer{
    height: 5vh;
    border-radius: 0 0 20px 20px;
    background-color: #69696F   ;
    display: flex;
    align-items: center;
    gap: 3rem;
}
#card-footer p{
    margin-left: 15%;
}
#card-footer img{
    width: 30px;
}
