#welcome-container{
    margin-left: 8%;
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  h1{
    color: #484848;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 7px;
    cursor: pointer
  }
  h1 span{
    transition: .5s linear
  }
  h1:hover span:nth-child(1){
    margin-right: 20px
  }
  h1:hover span:nth-child(2){
    margin-left: 20px
  }
  h1:hover #name-1{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
  h1:hover #name-2{
    color: #D4AF37;
    text-shadow: 0 0 10px #D4AF37,
                 0 0 20px #D4AF37, 
                 0 0 40px #D4AF37;
  }