nav{

  height: 70px;
  width: 100%;
  border-bottom: 1px solid #69696f9c;
  display: flex;
  align-items: center;
}
nav img{
  margin-left: 10%;
  width: 50px;
}
nav ul{
  list-style: none;
  margin-left: 5%;
  display: flex;
  gap: 2rem;
}
nav ul li a{
  text-decoration: none;
  color: #69696F;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
}
.checkbtn{
  font-size: 30px;
  color: #69696F;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
nav a:hover{
  font-weight: bolder;
  padding-bottom: 24px;
  color: #D4AF37;
  border-bottom: 2px solid #D4AF37;
}
.checkbtn:hover{
  color: #D4AF37;
}
/* responsive para tablet */
@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}
/* responsive para mobile */
@media (max-width: 858px){
  nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

  }
  .enlace{
    margin-left: 0;
  }
  .checkbtn{
      display: block;
  }
  ul{
      background-color: black;
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 70px;
      padding-top: 40px;
      width: 100%;
      height: 100%;
      right: -100%;
      text-align: center;
      transition: all .5s;
  }
  #check:checked ~ ul{
      right:0;
  }
  a:hover{
    padding: 0;
    margin-bottom: 0;
  }
}