#skill-container{
    width: 90%;
    height: 12vh;
    background-color: #7a1c83a8;
    margin: 5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
}
#skill{
    display: flex;
    justify-content: space-around;
}
#skill img{
    width: 30px;
    cursor: pointer;
}