#skill-container{
    width: 90%;
    height: 30vh;
    background-color: #7A1C83;
    margin: 5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 1rem;
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
}
#skill{
    display: flex;
    justify-content: space-around;
}
#skill img{
    width: 70px;
    cursor: pointer;
}